@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Studentescu</title>
    <link rel="stylesheet" href="~/css/tailwind-output.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="bg-gray-800 text-gray-200">
<header>
    <nav
        class=" bg-gray-900/30 backdrop-blur-lg p-4 rounded-lg border-b-4 border-transparent border-b-purple-500 shadow-lg shadow-purple-500/50">
        <div class="container mx-auto flex justify-start gap-10 items-center">
            <a href="/" class="text-purple-500 text-2xl font-bold">Studentescu</a>
            <button class="lg:hidden text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse lg:flex items-center gap-6 w-full">
                <ul class="flex gap-6">
                    <li class="nav-item">
                        <a class="text-gray-200 hover:text-purple-500"
                           href="@(SignInManager.IsSignedIn(User) ? $"/profile/show/{(await UserManager.GetUserAsync(User))?.UserName}" : "/identity/account/manage")">My
                            Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-gray-200 hover:text-purple-500" href="/UserGroup">Groups</a>
                    </li>
                </ul>

                <form class="flex gap-2 mx-auto" method="get" asp-controller="Profile"
                      asp-action="Search">
                    <input
                        class="px-3 py-2 rounded-lg text-white bg-transparent border-2 border-purple-600 focus:outline-none"
                        type="search" name="query" placeholder="Search..." aria-label="Search" />
                    <button
                        class="px-3 py-2 rounded-lg bg-purple-500 text-white hover:bg-purple-600"
                        type="submit">Search
                    </button>
                </form>

                <partial name="components/_RequestsCount" />

                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

<main role="main" class="min-h-[110vh]">
    @RenderBody()
</main>

<footer class="border-t border-gray-700 text-center text-gray-400 py-4">
    <div class="container">
        &copy; 2024 - Studentescu - <a class="text-purple-500 hover:text-purple-700" asp-area=""
                                       asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>
