@model Studentescu.Models.ApplicationUser

@{
    Layout = "_Layout";
}

<div>
    <h2>Followers:</h2>
    @foreach (var friend in @Model.Followers)
    {
        <div>
            <img src="@friend.Followee.ProfilePictureUrl" alt="Profile picture"/>
            <p>@friend.Followee.UserName</p>
            <button>Unfollow</button>
        </div>
    }
</div>
