@model UserGroup

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="Create" method="post" >

    <label for="image">Group Image</label>
    <input asp-for="GroupImageUrl" type="text" id="image" />


    <label for="name">Group name:</label>
    <input asp-for="Name" type="text" id="name" />

    <label for="description">Group description:</label>
    <input asp-for="Description" type="text" id="description" />

    <label for="category">Category:</label>
    <select id="category">
        <option>None</option>
        <option>Travel</option>
        <option>Fashion</option>
        <option>Gastronomy</option>
        <option>Health Care</option>
        <option>Games</option>
        <option>Study</option>
    </select>

    <button type="submit">Create</button>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}