@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="text-3xl font-semibold text-center text-gray-100 my-6">@ViewData["Title"]</h1>
<p class="text-xl text-center text-gray-300 mb-8">Please check your email to reset your
    password.</p>
<hr class="border-gray-500 mb-6" />

<div class="flex justify-center">
    <div
        class="max-w-sm w-full bg-gray-900 p-6 rounded-lg shadow-xl border-2 border-purple-600 glow-border">
        <p class="text-center text-gray-200">If you do not receive an email within a few minutes,
            please check your spam folder or try again.</p>

        <div class="text-center mt-4">
            <a href="@Url.Page("Login")"
               class="text-purple-500 hover:text-purple-600 focus:ring-2 focus:ring-purple-500 transition-all">Go
                to Login</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .glow-border {
        border: 2px solid rgba(168, 85, 247, 0.7);
        box-shadow: 0 0 10px 2px rgba(168, 85, 247, 0.4), 0 0 20px 5px rgba(168, 85, 247, 0.3);
    }
</style>
