@model TModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <h1>For You</h1>
    <div class="post-list">
        @foreach (var post in Model){
            <div>
                <div class="post-header">
                    <img alt="Profile Picture" src="@post.User.Image"/>
                    <p>@post.User.Username</p>
                </div>
                <div class="post-content">
                    @if (post.ContentType == "image")
                    {
                        <img alt="Post Content" src="@post.Content" />
                    }else if (post.ContentType == "video")
                    {
                        <video controls >
                            <source src="@post.Content" type="video/mp4"/>
                            Your browser do not support video format
                        </video>
                    }
                </div>
                <div class="post-footer">
                    <button>Love</button>
                    <button>Comment</button>
                </div>
            </div>
            
        }
        
    </div>
</div>
